*{margin: 0%;
    padding: 0;
}

body {background: linear-gradient(351deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(179,186,187,1) 100%);background-position: 0;background-repeat: no-repeat; }

body h1{padding: 20pt;  color: #ffffff;text-justify: distribute-all-lines;text-align: center;font-family: "Bungee", sans-serif;} 

header{color: #ffffff;background-color: darkgrey;background-position: bottom;text-decoration: none;
}

img{padding-left: 190pt;padding-right: 0%; width: 900px;height: 700px;padding-top: 5pt;}

body header a{background: transparent;font-family: "Bungee", sans-serif;display:inline-block;justify-content: center;align-items: center;padding: 0px 30px;text-decoration: none;color: #000000;}

a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #000000;font-family: "Bungee", sans-serif;position: sticky;
  }

 

